<%- include('../partials/header') %>
    <h1>New Skill</h1>

    <form action="/skills" method="post">
        <input type="text" placeholder="Enter new Skill" name="skill">
        <input type="submit" value="ADD SKILL">
    </form>

<%- include('../partials/footer') %>